<div class="row">
    <div class="row spacing">
      <div class="col-md-12">
        <div class="col-md-5">
          {{#link-to 'articles' model.id}}<img class="x-img" {{action 'close'}}  src="{{model.image}}" />{{/link-to}}
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            {{#link-to 'articles' model.id}}<div class="panel-heading" {{action 'close'}} >{{model.headline}}</div>{{/link-to}}
            <div class="panel-body">{{model.content}}</div>
            <div class="panel-footer">By {{model.author}}</div>
          </div>
        </div>
      </div>
    </div>
</div>
